<!DOCTYPE html>
<html>
<head>
    <head>
        <meta charset="utf-8">
        <title>Events Page</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
        <link rel="stylesheet" type="text/css" href="../${data.compName}/style/style.scss">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
<body>
<div class="container" id='content'>
    <h3 if="data.isServer === 'true'">Server Side</h3>
    <h3 else>Client Side</h3>
    <ssi data-component-url="components/${data.compName}"
         data-component-name="${data.compName}"
         data-content-model="/_content/${data.compName}"
         data-render-path="${data.isServer ? data.compName + '_server' : data.compName + '_client'}"
         isServer="${data.isServer}">
    </ssi>

    <div class="row col-md-12" style="height:900px">


    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#readme">README.md</a></li>
      <li><a data-toggle="tab" href="#package">Package.json</a></li>
      <li><a data-toggle="tab" href="#mockdata">Mock Data</a></li>
      <li><a data-toggle="tab" href="#testsuite">Tests</a></li>
    </ul>

    <div class="tab-content" style="height:50%">
      <div id="readme" class="tab-pane fade in active" style="height:50%">
        <div class="panel-body"
             id="readMe"
             style="height:100%">
             ${data.readMe}
      </div>
      <div id="package" class="tab-pane fade" style="height:50%">
        <div class="panel-body"
             id="packageEditor"
             style="height:100%">
        </div>
      </div>
      <div id="mockdata" class="tab-pane fade" style="height:50%">
        <div class="panel-body"
             id="editor"
             style="height:100%">
        </div>
      </div>
      <div id="testsuite" class="tab-pane fade" style="height:50%">
              <div class="panel-body">
                virtual test runner
              </div>
      </div>
    </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-2.2.1.min.js" type="text/javascript"rs></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"rs></script>
<script src="https://ace.c9.io/build/src/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    var package = ace.edit("packageEditor");
    var readme = ace.edit("readMe");
    package.setTheme("ace/theme/twilight");
    package.getSession().setMode("ace/mode/javascript");
    package.setValue(JSON.stringify(${data.pack}, null, '\t'));
    package.setReadOnly(true);
    editor.setTheme("ace/theme/twilight");
    editor.getSession().setMode("ace/mode/javascript");
    editor.setValue(JSON.stringify(${data.mock}, null, '\t'));
    editor.getSession().setUseWrapMode(true);
    readme.setTheme("ace/theme/twilight");
    readme.getSession().setMode("ace/mode/html");
    
</script>

</body>
</html>
